# Visualization packages
bokeh
seaborn
matplotlib
#pygal

# Stats Packages
-e git+git@github.com:greytip/statsmodels.git#egg=statsmodels
tsfresh

jupyter
numpy
psycopg2
pandas
sqlalchemy
scikit-learn
scipy
xgboost

# Package for map projections
geos
# Neural network packages
gym
keras
mxnet
-e git+git@github.com:greytip/SOMPY.git#egg=sompy

#Distributed orchestration
#luigi
