# Visualization packages
bokeh
seaborn
matplotlib
#pygal

# Stats Packages
-e git+git@github.com:greytip/statsmodels.git#egg=statsmodels
tsfresh

jupyter
numpy
psycopg2
pandas
sqlalchemy
scikit-learn
scipy
scikit-image
xgboost

# Tools for tpot
deap
update_checker
tqdm
tpot


# Package for map projections
geos

# Neural network packages
gym
keras
mxnet
-e git+git@github.com:greytip/SOMPY.git#egg=sompy

# Vision packages
#object detections
gpod

#Workflow management

#dagpype
#luigi
