bokeh
jupyter
matplotlib
numpy
psycopg2
pandas
seaborn
sqlalchemy
scikit-learn
scipy
xgboost
pygal
luigi
-e git+git@github.com:greytip/statsmodels.git#egg=statsmodels
-e git+git@github.com:greytip/SOMPY.git#egg=sompy
